/*Google Fonts*/
.bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background: #0cff2c;	
    color: #f0fff3;

}

header, main, footer{
    background: #ffee00;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-color: #000;
}

section, aside {
    background: #0077ff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-color: #000000;
}

ul {    
    list-style-type: none;
}

nav a, footer a {
	text-decoration: none;
    margin-right: 15px;
}

a:link {
	color: #2bb458;
}
a:visited {
	color: #292929;
}
a:hover {
	color: #fcffe1;
}
a:active {
	color: #63598f;
}
